# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# macOS
.DS_Store
__MACOSX/

# IDE
.vscode/
.idea/

# Project specific
MDS5020-Group Project - v0.2/
*.ipynb
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp
